@use '../util' as *;

.container {
    margin-top: rem(125); //temp
    margin-left: rem(165); //temp
    margin-right: rem(165); //temp
}

.topcontent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    .header {
        &__title {
            width: rem(400);
            height: auto;
            font-weight: 700;
            font-size: rem(40);
            color: var(--verydarkmagenta);
        }
        &__about {
            width: rem(430);
            height: auto;
            font-size: rem(16);
            color: var(--darkgrayishmagenta);
        }
    }
    
    .reviews {
        display: flex;
        flex-direction: column;
        height: auto;
        width: rem(460);
        row-gap: rem(20);
        margin-top: rem(16);
        transform: translateX(rem(70));

        .review1 {
            border-radius: rem(10);
            display: flex;
            padding: rem(16);
            background-color: var(--lightgrayishmagenta);

            &__stars {
                height: rem(20);
                width: auto;
                padding-left: rem(8);
            }
        
            &__about {
                color: var(--verydarkmagenta);
                font-size: rem(16);
                font-weight: 700;
                margin-left: rem(30);
                margin-right: rem(20);
            }
        }
        .review2 {
            border-radius: rem(10);
            display: flex;
            padding: rem(16);
            background-color: var(--lightgrayishmagenta);
            transform: translateX(rem(45));
            &__stars {
                height: rem(20);
                width: auto;
                padding-left: rem(8);
            }
            &__about {
                color: var(--verydarkmagenta);
                font-size: rem(16);
                font-weight: 700;
                margin-left: rem(30);
            }
        }
        .review3 {
            border-radius: rem(10);
            display: flex;
            padding: rem(16);
            background-color: var(--lightgrayishmagenta);
            transform: translateX(rem(90));
            &__stars {
                height: rem(20);
                width: auto;
                padding-left: rem(8);
            }
            &__about {
                color: var(--verydarkmagenta);
                font-size: rem(16);
                font-weight: 700;
                margin-left: rem(30);
                margin-right: rem(20);
            }
        }
    }
}

.cards {
    margin-top: rem(75);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: rem(1110);
    height: 50vh;
    row-gap: rem(25);
    align-items: start;
    

    .c1 {
        height: auto;
        width: rem(360);
        padding: rem(35);
        background-color: var(--verydarkmagenta);
        color: var(--lightgrayishmagenta);
        border-radius: rem(10);
        &__profile {
            display: inline-flex;
            align-items: center;
            margin-bottom: rem(30);

            &__icon {
                border-radius: rem(50);
                height: rem(50);
            }

            &__name {
                margin-left: rem(20);
                font-weight: bold;
                font-size: rem(14);
            }

            .span {
                color: var(--softpink);
                font-weight: normal;
            }
    
        }

        &__about {
            width: rem(305);
            height: auto;
        }
    }
    .c2 {
        height: auto;
        width: rem(360);
        padding: rem(35);
        background-color: var(--verydarkmagenta);
        color: var(--lightgrayishmagenta);
        border-radius: rem(10);
        transform: translateY(rem(20));
        &__profile {
            display: inline-flex;
            align-items: center;
            margin-bottom: rem(30);

            &__icon {
                border-radius: rem(50);
                height: rem(50);
            }

            &__name {
                margin-left: rem(20);
                font-weight: bold;
                font-size: rem(14);
            }

            .span {
                color: var(--softpink);
                font-weight: normal;
            }
    
        }

        &__about {
            width: rem(305);
            height: auto;
        }
    }
    .c3 {
        height: auto;
        width: rem(360);
        padding: rem(35);
        background-color: var(--verydarkmagenta);
        color: var(--lightgrayishmagenta);
        border-radius: rem(10);
        transform: translateY(rem(40));
        &__profile {
            display: inline-flex;
            align-items: center;
            margin-bottom: rem(30);

            &__icon {
                border-radius: rem(50);
                height: rem(50);
            }

            &__name {
                margin-left: rem(20);
                font-weight: bold;
                font-size: rem(14);
            }

            .span {
                color: var(--softpink);
                font-weight: normal;
            }
    
        }

        &__about {
            width: rem(305);
            height: auto;
        }
    }
}